.DS_Store
.idea
node_modules
wp-config.php
/adminer.php
/heroine.ru/wp-config.php
/wp-content/uploads
/sxd/
/wp-content/debug.log
/wp-content/themes/heroine-awesome/css/less
/license.txt
/readme.html
/wp-content/plugins/wp-auto-upload-master
/wp-content/plugins/WebArchiveExternalPictures

